/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-nov-2016, 18:01:46
    Author     : jose
*/

.buscar{
    padding-top: 40px;
}

.header{
    height: 98px;
}

.titulos{
    margin-bottom: 5px;
}

.listado-striped{
    background-color: #EEE;
}

.it-observaciones{
    width: 16em;
}
