/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-nov-2016, 18:01:46
    Author     : jose
*/

.content{
    margin-top: 1em;
}

dl{
    margin-bottom: 0px;
}

.modal-dialog{
    background-color: white;
}

.modal-content{
    border: none;
    padding: 1em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.buscar{
    padding-top: 10px;
}

.header {  
    background-color: #313131;
}

.header h2{
    color:white;
}

.sub-header{  
    background-color: #999;
}

.titulos{
    margin-bottom: 5px;
}

.logo-navigation{
    background-color: #be1622;
    opacity: .95;
}
.menu{
    list-style: none;
}

.menu li{
    float: left;
}

.menu li a {
    color: white;
    padding: .6em 1em;
    display: block;
    font-size: 16px;
}

.listado-striped{
    background-color: #EEE;
}

.it-observaciones{
    width: 16em;
}
